# Data
data/
*.csv
# Models
models/
checkpoints/
*.pt
*.h5

# Logs and outputs
*.log
logs/
wandb/
experiments/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
.env

# API
.env